.footer-wrapper {
  background-color: var(--post-background-color);

  box-shadow: rgb(78 10 71 / 57%) 0px -1px 2px 1px;
}

.footer-widgets-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (min-width: 850px) {
  .footer-widgets-container {
    flex-flow: row wrap;
    gap: 5rem;
  }
}

.footer-disclaimer-wrapper {
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
  color: var(--text);
  background-color: var(--post-background-color);
}
