.footer-wrapper {
  background-color: var(--post-background-color);
  border: 2px solid var(--post-border-color);
  border-width: 2px 0px 0px 0px;
}

.footer-widgets-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (min-width: 850px) {
  .footer-widgets-container {
    flex-flow: row wrap;
    gap: 5rem;
  }
}

.footer-disclaimer-wrapper {
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
  color: var(--text);
  background-color: var(--post-background-color);
}
